.search-bar {
        font-size: 16px;
        display: block;
        flex: 1;
        height: 36px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(192, 192, 192);
        border-radius: 2px;
        box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder {
        font-family: roboto, arial;
        font-size: 16px;
}
body{
        margin: 0;
        padding-top: 70px;
        padding-left: 80px;
}

.do1 {
        width: 200px;
        height: 160px;
        object-fit: cover;
        display: block;
        cursor: pointer;


}

.do2 {
        width: 200px;
        height: 160px;
        object-fit: cover;
        display: block;
        cursor: pointer;


}

.div {
        width: 300px;
        display: inline-block;
        vertical-align: top;
}

.chan-pict {
        display: inline-block;
        width: 50px;
        position: relative;
}

.chan-inf {
        display: inline-block;
        width: 200px;

        vertical-align: top;

}

.prof-pict1 {
        margin-top: 0;
        width: 90%;
        border-radius: 40px;
}

.big-pict1 {
        margin-bottom: 12px;
}

p {
        font-family: Roboto, arial;
        margin-top: 0;
        margin-bottom: 0;
}

.chan-pict2 {
        display: inline-block;
        width: 50px;

}

.prof-pict2 {
        margin-top: 0;
        width: 90%;
        border-radius: 40px;
}

.chan-inf2 {
        vertical-align: top;
        display: inline-block;
        width: 200px;
}

.tat {
        width: 200px;
        height: 160px;
        object-fit: cover;
        display: block;
        cursor: pointer;
}

.chan-pict3 {
        display: inline-block;
        width: 50px;
}

.chan-inf3 {
        vertical-align: top;
        display: inline-block;
        width: 200px;
}

.mit1 {
        width: 200px;
        height: 160px;
        object-fit: cover;
        display: block;
        cursor: pointer;
}

.spo {
        width: 200px;
        height: 160px;
        object-fit: cover;
        display: block;
        cursor: pointer;
}

.comp1 {
        width: 200px;
        height: 160px;
        object-fit: cover;
        display: block;
        cursor: pointer;
}

.header {
        height: 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: white;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color:rgb(228,228,228);
}
.notif-icon-cont {
        position: relative;
        display: inline-block; /* Ensure it wraps the icon */
        padding: 8px;
    }
    
    .notif-icon {
        display: block; /* Ensures the image is treated as a block element */
        border-radius: 10px;
    }
    
    .notifications {
        position: absolute;
        top: 20%;
        left: 70%;
        transform: translate(-50%, -50%); /* Center the number */
        background-color: rgb(200, 0, 0); /* Red circle background */
        color: white; /* Text color */
        border-radius: 50%; /* Make it circular */
        width: 20px; /* Fixed width for circle */
        height: 20px; /* Fixed height for circle */
        display: flex; /* Center text */
        align-items: center; /* Center text vertically */
        justify-content: center; 
        font-size: 12px;
        font-weight: bold;
    }
    

.left-section {
        width: 150px;
        display: flex;
        align-items: center;
}

.middle-section {

        flex: 1;
        margin-left: 70px;
        margin-right: 35px;
        max-width: 500px;
        display: flex;
        align-items: center;
}

.right-section {
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 20px;
        flex-shrink: 0;
}

.fig1 {
        height: 25px;
        margin-left: 20px;
        margin-right: 24px;
}

.fig2 {
        height: 25px;
}

.seach-butt {
        height: 40px;
        width: 60px;
        background-color: rgb(240, 240, 240);
        border-width: 1px;
        border-style: solid;
        border-color: rgb(192, 192, 192);
        margin-left: -6px;
        margin-right: 10px;
}

.record-butt {
        height: 40px;
        width: 40px;
        border-radius: 20px;
        border: none;
        background-color: rgb(245, 231, 231);
}

.upload-icon {
        height: 24px;
}

.youtube-icon {
        height: 24px;
}

.notif-icon {
        height: 24px;
}

.userpict-icon {
        height: 32px;
}
.sidebar{
        position: fixed;
        left: 0;
        bottom: 0;
        top: 55px;
        background-color: white;
        width: 72px;
}
.img1{
        background-color: black;
        color: white;
        position: absolute;
        bottom: 70px;
        left: 166px;
        font-family: roboto,arial;
        font-size: 12px;
        font-weight: 500;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 2px;

}
.img2{
        background-color: black;
        color: white;
        position: absolute;
       
        font-family: roboto,arial;
        font-size: 12px;
        font-weight: 500;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 2px;

}
.img3{
        background-color: black;
        color: white;
        position: absolute;
        
       
        font-family: roboto,arial;
        font-size: 12px;
        font-weight: 500;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 2px; 
}
.img4{
        background-color: black;
        color: white;
        position: absolute;
       
        font-family: roboto,arial;
        font-size: 12px;
        font-weight: 500;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 2px;
}
.img5{
        background-color: black;
        color: white;
        position: absolute;
       
        font-family: roboto,arial;
        font-size: 12px;
        font-weight: 500;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 2px;
}
.img6{
        background-color: black;
        color: white;
        position: absolute;
       
        font-family: roboto,arial;
        font-size: 12px;
        font-weight: 500;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 2px;
}
.sidebar-link{
        background-color: lightgray;
        height: 76px;
        margin-bottom: 1px;
}
.sidebar-link:hover{
        background-color: rgb(235,235,235);
}
.d1{
        height: 20px;
        width: 20px;
}
